.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.gallery__letter {
    font-family: "Montserrat_Bold";
    font-weight: 800;
    font-size: 24px;
    text-align: center;
}

.gallery__teamList {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.teamListBig {
    position: relative;
    margin-bottom: 18px;
    overflow: hidden;
    width: 282px;
    height: 271px;
}

.link-big {
    position: absolute;
    width: 284px;
    height: 332px;
    top: -57px;

}

.team-list-item {
    position: relative;
    overflow: hidden;
    width: 282px;
    height: 271px;
    margin-bottom: 18px;
}

.team-list-item1 {
    position: absolute;
    width: 366px;
    height: 498px;
    top: -151px;
    left: -63px;
}

.team-list-item2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    width: 291px;
    height: 393px;
    top: -46px;
    left: 0;
}

.team-list-item3 {
    position: absolute;
    width: 291px;
    height: 320px;
    top: -17px;
    left: 0;
}

.team-list-item4 {
    position: absolute;
    width: 333px;
    height: 451px;
    top: -38px;
    left: -32px;
}

@media(min-width: 768px) {

    .teamListBig {
        width: 690px;
        height: 537px;
    }

    .link-big {
        position: absolute;
        width: 690px;
        height: 812px;
        top: -201px;
    }

    .team-list-big {
        margin: 0;
    }

    .team-list-item {
        width: 334px;
        height: 343px;
    }

    .link {
        width: 334px;
        height: 343px;
    }

}

@media(min-width: 1280px) {
    .team-list {
        margin-top: 31px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .team-list-big {}

    .big,
    .flex {
        width: 592px;
        height: 561px;
        margin: 0;
    }

    .team-list-item {
        width: 287px;
        height: 272px;
    }

    .link {
        width: 287px;
        height: 272px;
        margin-left: 18px;
    }
}

@media(min-width: 1920px) {

    .team-list-big,
    .flex {
        width: 784px;
        height: 740px;
    }

    .link-big {
        width: 784px;
        height: 740px;
    }

}